#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

.main_page {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.title {
    margin-left: 80px;
}

button {
    margin: 0 0 20px 80px;
}

button:focus {
    background: green;
    color: #f9f9f9;
}

.list-item {
    margin-bottom: 30px;
    text-align: left;
    padding: 20px 20px;
}

.details-item {
    text-align: left;
    border: 5px solid green;
    padding: 0 20px 0 20px;
    margin: 80px 0 30px 0;
}